.orders {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.orders > thead th {
  text-transform: uppercase;
  text-align: center;
  color: #5a5757e0;
  padding: 10px 12px;
  font-size: 12px;
}

.orders > thead tr {
  border-bottom: solid 1px #98949491;
}

.orders > tbody td {
  text-align: center;
  color: #5a5757e0;
  padding: 10px 12px;
  font-size: 14px;
}

.orders > tbody tr:nth-child(even) {
  background: #5a57571a;
}
